<div class="page-header">
  <%= link_to new_contact_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contact
  <% end %>
  <h1>Danh sách danh bạ</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tên</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Ghi chú</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contacts) do |contact| %>
            <td><%= contact.fullname %></td>
            <td><%= contact.phonenumber %></td>
            <td><%= contact.address %></td>
            <td><%= contact.description %></td>
            <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete %></td>
      <% end %>
    </tbody>
  </table>
</div>
